GameNotifycation/Library/*
GameNotifycation/obj/*
GameNotifycation/Temp/*
GameNotifycation/Logs/*
GameNotifycation/.vs/*

*.csproj

*.user

*.csproj

*.sln

*.suo

*.lock

*.ide

*.ide-shm

*.ide-wal

